<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hwt.spider.mapper.SpiderUserMapper">
  <resultMap id="BaseResultMap" type="com.hwt.spider.entity.pojo.SpiderUser">
    <id column="ID" jdbcType="LONGVARCHAR" property="id" />
    <result column="ACCOUT_NUMBER" jdbcType="LONGVARCHAR" property="accoutNumber" />
    <result column="MAIL" jdbcType="VARCHAR" property="mail" />
    <result column="USER_NAME" jdbcType="VARCHAR" property="userName" />
    <result column="PASS_WORD" jdbcType="VARCHAR" property="passWord" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ACCOUT_NUMBER, MAIL, USER_NAME, PASS_WORD, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from spider_user
    where ID = #{id,jdbcType=LONGVARCHAR}
  </select>
  <select id="getUserByAccoutNumber" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from spider_user
    where ACCOUT_NUMBER = #{accoutNumber,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.hwt.spider.entity.pojo.SpiderUser">
    insert into spider_user (ACCOUT_NUMBER, MAIL, USER_NAME,
      PASS_WORD, CREATE_TIME)
    values (#{accoutNumber,jdbcType=INTEGER},#{mail,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR},
      #{passWord,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>

</mapper>